/*stylesheet para los ejercicios de little boxes */
{padding: 0; margin: 0;}
/*TAGS*/
a
{
	text-decoration: none; /*quita el subrayado de los hipervinculos*/
}

a:link {color: #d90000;}

a:visited {color: #cc6666;}

a:hover, a:focus {text-decoration: underline;}

a:active {color: white; background-color: #d90000;}
address
{
	text-align: center;
	font-size: 80%;
	font-style: normal;
	letter-spacing: 2px;
	line-height: 1.5em;
}

body
{
	color: white; /*color de fuente */
	background-color: #8c8c8c; /*color de fondo*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
}

form
{
	background-color: #eee;
	width: 400px;
	padding: 20px;
	border: 1px solid #8c8c8c;
}

h1
{
	font-size: 150%;
}

h2
{
	font-size: 130%;
	margin-bottom: 1em;
}

input: focus, textarea: focus
{
	background-color: #d9d9d9;
}

label
{
	display: block; /*titulo en una linea propia*/

}

li
{
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 1em;
}

p,ul 
{
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
}

textarea {height: 7em;}

ul ul
{
	margin: 0;
}
/*ID*/
#areatexto
{
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-left: 130px;
}

#encabezado
{
	position: relative; /*posicionadi, pero en el flujo*/
	color: black;
	background-color: #f3c600;
	padding: 10px 20px 10px 20px;
}

#encabezado img
{
	background-color: white;
	padding: 5px;
	border: 5px solid #d9d9d9;
}

#encabezado p 
{
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: bold;
	padding: 5px 0 5px 0;
	margin-bottom: 0;
}

#encabezado p span 
{
	color: #d90000; /*color de fuente */
}

#formulariocontacto
{

}

#inicio
{

}

#navegacion
{
	float: left;
	width: 130px;
	padding-left: 10px;
	padding-top: 20px;
}

#navegacion a
{
	display: block;
	text-decoration: none;
	color: black;
	padding: 4px;
	border-left: 3px solid white;
}

#navegacion a:active 
{

}

#navegacion a:hover,

#inicio #navi01 a,

#pagcontacto #navi02 a
{
	color: black;
	background-color: white;
	border-left: 3px solid #d90000;
}

#inicio #navi01
{
	border-top: 1px solid #d90000;
}

#navegacion li 
{

list-style: none;
border-left: 1px solid #d90000;
border-bottom: 1px solid #d90000;
margin: 0;
	

}

#navegacion ul
{
	color: black;
	width: 80px;
	padding-left: 10px;
	margin-left: 0;

}


#pagcontacto
{

}
#pie
{
	background-color: white;
	padding: 20px;
	padding-top: 10px;
	border-top: 1px solid #8c8c8c;
	margin-top: 20px;

}

#remitente, textarea
{
	width: 300px;
	border: 1px solid #8c8c8c;
	margin-bottom: 1em;
}

#wrapper
{
	color: black;
	background-color: white;
	background-image: url(2.jpg);
	background-repeat: repeat-y;
	background-position: top left;
	width: 720px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

/*clases */

.imgizda
{
	float: left;
	padding: 3px; /*distancia entre imagen y borde*/
	border:5px solid #ccc; /*borde de la imagen*/
	margin-right: 10px; /*distancia entre borde y texto*/
	margin-bottom: 10px;/*distancia hacia abajo*/

}

.imgdcha
{
	float: right;
	padding: 3px;
	border:5px solid #ccc;
	margin-bottom: 10px;
	margin-left: 10px;
}

.skiplink {display: none;}